<nav class="menu-lateral">
  <div class="menu-links">
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Abertura de Conta</a></li>
      <li><a href="#">Encerramento de Conta</a></li>
      <li><a href="#">Consultar Dados</a></li>
      <li><a href="#">Alterar Dados</a></li>
      <li><a href="#">Cadastro de Funcionários</a></li>
      <li><a href="#">Geração de Relatórios</a></li>
    </ul>
  </div>
  <div class="logout-link">
    <a href="{{ url_for('main.logout') }}">Encerrar Sessão</a>
  </div>
</nav>