<nav class="menu-lateral">
    <div class="menu-links">
        <ul>
            <li>
                <a href="{{ url_for('cliente.dashboard') }}"
                    class="{{ 'active' if request.endpoint == 'main.dashboard_cliente' else '' }}">
                    Minha Conta
                </a>
            </li>
            <li>
                <a href="{{ url_for('cliente.extrato') }}"
                   class="{{ 'active' if request.endpoint == 'main.extrato' else '' }}">
                   Saldo e Extrato
                </a>
            </li>
            <li>
                <a href="{{ url_for('cliente.deposito') }}"
                    class="{{ 'active' if request.endpoint == 'main.deposito' else '' }}">
                    Depósito
                </a>
            </li>
            <li>
                <a href="{{ url_for('cliente.saque') }}"
                    class="{{ 'active' if request.endpoint == 'main.saque' else '' }}">
                    Saque
                </a>
            </li>
            <li>
                <a href="{{ url_for('cliente.transferencia') }}"
                    class="{{ 'active' if request.endpoint == 'main.transferencia' else '' }}">
                    Transferência
                </a>
            </li>
            <li>
                <a href="{{ url_for('cliente.limite') }}"
                   class="{{ 'active' if request.endpoint == 'main.limite' else '' }}">
                   Consultar Limite
                </a>
            </li>
        </ul>
    </div>
    <div class="logout-link">
        <a href="{{ url_for('auth.logout') }}">Encerrar Sessão</a>
    </div>
</nav>
