.movimentacoes {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.movimentacoes li {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #f0f0f0;
}

.descricao-transacao {
    flex-grow: 1; 
    padding: 0 15px; 
}

.movimentacoes li:last-child {
    border-bottom: none;
}

.movimentacoes li span {
    font-weight: bold;
}

.movimentacoes li.entrada span {
    color: var(--cor-sucesso);
}

.movimentacoes li.entrada::before {
    content: '▲';
    color: var(--cor-sucesso);
    margin-right: 10px;
}

.movimentacoes li.saida span {
    color: var(--cor-perigo);
}

.movimentacoes li.saida::before {
    content: '▼';
    color: var(--cor-perigo);
    margin-right: 10px;
}

.detalhe-conta {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.detalhe-conta span {
    color: #555;
}

.detalhe-conta strong {
    font-weight: bold;
}

.limite-valor {
    color: var(--cor-perigo);
}

.rendimento-valor {
    color: var(--cor-sucesso);
}
