<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Login Funcionário</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='darth.png') }}"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{{ url_for('index') }}" class="logo-link">
          <img
            src="{{ url_for('static', filename='darth.png') }}"
            alt="Darth Vader"
            class="logo-icon"
          />
          Banco Malvader
        </a>
      </div>
    </header>

    <main class="horizontal-container login-layout">
      <!-- Lado esquerdo menor -->
      <div class="left-side small-left">
        <div class="welcome-box">
          <h1>Funcionário</h1>
          <p>Faça login para acessar seu painel administrativo.</p>
        </div>
      </div>

      <!-- Lado direito com formulário -->
      <div class="right-side">
        <form class="login-form" method="POST">
          <h2>Login do Funcionário</h2>
          <label>Email:</label>
          <input type="email" name="email" required />

          <label>Senha:</label>
          <input type="password" name="senha" required />

          <button type="submit">Entrar</button>

          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul>
            {% for message in messages %}
            <li class="danger">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </form>
      </div>
    </main>
  </body>
</html>
